<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>ادمین</b>LTE</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">تغییر ناوبری</span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">شما 4 پیام دارید</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      تیم پشتیبانی
                      <small><i class="fa fa-clock-o"></i> 5 دقیقه</small>
                    </h4>
                    <p>چرا یک تم جدید عالی خرید نکنید?</p>
                  </a>
                </li>
                <!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      وب کندو تیم طراحی 
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>چرا یک تم جدید عالی خرید نکنید?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      توسعه دهنده ها
                      <small><i class="fa fa-clock-o"></i> امروز</small>
                    </h4>
                    <p>چرا یک تم جدید عالی خرید نکنید?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      بخش فروش
                      <small><i class="fa fa-clock-o"></i> دیروز</small>
                    </h4>
                    <p>چرا یک تم جدید عالی خرید نکنید?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Reviewers
                      <small><i class="fa fa-clock-o"></i> 2 روز</small>
                    </h4>
                    <p>چرا یک تم جدید عالی خرید نکنید?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">همه پیامها را ببینید</a></li>
          </ul>
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">شما 10 اعلان دارید</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 اعضای جدید به امروز پیوستند
                    </a>
                </li>
                <li>
                  <a href="#">
                        <i class="fa fa-warning text-yellow"></i> توضیحات بسیار طولانی در اینجا که ممکن است در داخل متناسب نباشد
                       صفحه و ممکن است باعث مشکلات طراحی شود
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-users text-red"></i> 5 اعضای جدید پیوستند
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 فروش ساخته شده است
                    </a>
                </li>
                <li>
                  <a href="#">
                      <i class="fa fa-user text-red"></i> نام کاربری خود را تغییر دادید
                    </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">نمایش همه</a></li>
          </ul>
        </li>
        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">شما 9 کار را انجام می دهید</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                      برخی از دکمه ها را طراحی کنید
                      <small class="pull-right">20%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% کامل</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                      یک تم زیبا ایجاد کنید
                      <small class="pull-right">40%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">40% کامل</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                      برخی از کارهایی که باید انجام دهم
                      <small class="pull-right">60%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">60% کامل</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
                <li>
                  <!-- Task item -->
                  <a href="#">
                    <h3>
                      انتقال زیبا را انجام دهید
                      <small class="pull-right">80%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                        aria-valuemax="100">
                        <span class="sr-only">80% کامل</span>
                      </div>
                    </div>
                  </a>
                </li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">تمام وظایف را مشاهده کنید</a>
            </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">اکبر جودی</span>
            </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                اکبر جودی - توسعه دهنده وب
                <small>عضو از. 2017</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">دنبال کنندگان</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">فروش ها</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">دوستان</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">پروفایل</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">خروج</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
